<!-- cards scroller view -->
<nav>
  <form id="search-form">
    <input type="text" id="search-input" placeholder="Search...">
    <button type="submit" id="search-button">Search</button>
  </form>
</nav>
<section id="cards-scroller">
  
  <section id="card-display">
    {{#each questions}}
    <div class="card">
      <div class="card-head">
        <p id="{{correct_option_id}}">Question {{question_id}}</p>
      </div>

      <div class="card-question">
        <fieldset>
          <script>{{question_id}}</script>
          <legend><strong>{{question}}</strong></legend>
          {{#each options}}
          <input type="radio" id="{{this}}" name="answer_option" value="{{this}}">
          <label for="answer_option">{{this}}</label>
          {{/each}}
        </fieldset>
      </div>

      <div class="card-solution">
        {{!-- script inserts dynamic html based on response to check on selected option when option element select event is fired --}}
      </div>

      <div class="card-detail-help">
        <ul>
          <li><a href="{{documentation_link}}">Documentation</a>
            <a href="{{video_link}}">YouTube</a>
          </li>
        </ul>
      </div>
    </div>
    {{/each}}
  </section>

  <section id="filter">
  </section>